.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
    color: #1cac1c;
}

.incomplete-task {
    color: #be1717
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}

body {
    background-image: url('/Nature.jpg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    color: black;
}

::-webkit-input-placeholder {
    color: #fff;
}